html,
body,
.App {
    @apply bg-main-bg text-text-clr
}

::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(87, 171, 123);
    border-radius: 40px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .container {
    @apply w-full px-10 mt-14;
  }
  .main-container {
    @apply  mt-28
  }